<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="bootstrap.css">
  <style>
    .image{
      background-size: cover;
     background-repeat: no-repeat;
      background-position: center;
    }
    .animation{
      transition: 0.3s;
    }
    .animation:hover{
      transform: scale(1.05);
    }
    a{
      text-decoration: none;
      color: black;
    }

    h1{
      color: yellow;
    }
  </style>
</head>
<body>
  
  <main>
    <!-- title -->
    <section  class="p-5  bg-dark d-flex">
        <div style="height: 400px; color: #fff;" class="container d-flex flex-column align-items-center justify-content-center">
            <h1>About Us</h1>
            <h6 class="text-center">Discover our passion for pets, fostering connections, care, and joy in every furry companions journey.</h6>
        </div>
    </section>


    <!-- acccounts -->
    <section class="p-2 bg-primary d-flex">
        <div style="color: #fff;"  class="container py-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row gap-3">
            <div class=" col-md-5 col-lg-4 px-2 d-flex flex-column gap-3">
                <h1>Our Mission</h1>
            </div>
            <div class=" col-md-7 col-lg-8 p-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nam nulla ex harum dolorem aspernatur explicabo cupiditate! Architecto dolorum labore ipsa, officia consequuntur molestias animi exercitationem sint debitis odit quasi veniam harum nam aperiam itaque porro dolores hic ab quaerat quibusdam sequi placeat. Assumenda veniam molestias minima? Iste alias tempora dicta, laudantium saepe odit facere suscipit possimus cumque ea est non autem dolores veniam deleniti quis tempore magnam! Quod amet inventore dolorum repellat repellendus, quae fugiat iure veritatis placeat consectetur, exercitationem, magni pariatur nisi animi ipsam. Cupiditate amet rerum impedit, animi adipisci est quos nulla quibusdam iure, maiores corrupti. Ad.</p>
            </div>  
        </div>
    </section>

    <section style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: 10px;" class="p-2  d-flex">
        <div style="color: #fff;"  class="container py-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row gap-3">
            <div class=" col-md-5 col-lg-4 px-2 d-flex flex-column gap-3">
                <h1>Our Vission</h1>
            </div>
            <div class=" col-md-7 col-lg-8 p-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nam nulla ex harum dolorem aspernatur explicabo cupiditate! Architecto dolorum labore ipsa, officia consequuntur molestias animi exercitationem sint debitis odit quasi veniam harum nam aperiam itaque porro dolores hic ab quaerat quibusdam sequi placeat. Assumenda veniam molestias minima? Iste alias tempora dicta, laudantium saepe odit facere suscipit possimus cumque ea est non autem dolores veniam deleniti quis tempore magnam! Quod amet inventore dolorum repellat repellendus, quae fugiat iure veritatis placeat consectetur, exercitationem, magni pariatur nisi animi ipsam. Cupiditate amet rerum impedit, animi adipisci est quos nulla quibusdam iure, maiores corrupti. Ad.</p>
            </div>  
        </div>
    </section>

    <section  class="p-2  d-flex">
        <div class="text-secondary container py-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row gap-3">
            <div class=" col-md-5 col-lg-4 px-2 d-flex flex-column gap-3">
                <h1>Our Values</h1>
            </div>
            <div class=" col-md-7 col-lg-8 p-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nam nulla ex harum dolorem aspernatur explicabo cupiditate! Architecto dolorum labore ipsa, officia consequuntur molestias animi exercitationem sint debitis odit quasi veniam harum nam aperiam itaque porro dolores hic ab quaerat quibusdam sequi placeat. Assumenda veniam molestias minima? Iste alias tempora dicta, laudantium saepe odit facere suscipit possimus cumque ea est non autem dolores veniam deleniti quis tempore magnam! Quod amet inventore dolorum repellat repellendus, quae fugiat iure veritatis placeat consectetur, exercitationem, magni pariatur nisi animi ipsam. Cupiditate amet rerum impedit, animi adipisci est quos nulla quibusdam iure, maiores corrupti. Ad.</p>
            </div>  
        </div>
    </section>


    


  <!-- footer -->
  <footer class="bg-dark text-white py-3 d-flex align-content-center justify-content-center">
    <div class="container m-3">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us :</h5>
                <p>candababirdsanctuary@gmail.com</p>
                <p>+1 123 456 7890</p>
                <p class="text-light">&copy;2023 Candaba Bird Sanctuary. All rights reserved.</p>
            </div>
  
            <div class="col-md-4 mb-3 ">
              <h5 class=" text-center mb-3">Follow Us :</h5>
              <div class="d-flex justify-content-center">
                  <div class="col-5 d-grid gap-3">
                      <a href="#" class="btn btn-outline-light btn-sm">
                          <i class="fab fa-facebook-f"></i> Facebook
                      </a>
                      <a href="#" class="btn btn-outline-light btn-sm">
                          <i class="fab fa-twitter"></i> Twitter
                      </a>
                      <a href="#" class="btn btn-outline-light btn-sm">
                          <i class="fab fa-instagram"></i> Instagram
                      </a>
                  </div>
              </div>
            </div>
          
  
            <div class="col-md-4">
                <h5>About Us :</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a quidem reiciendis ipsa nesciunt modi, 
                  rem consequuntur praesentium porro, asperiores fuga eligendi delectus aspernatur odit dolores molestiae saepe blanditiis 
                  amet.</p>
            </div>
        </div>
       
    </div>
  </footer>
  <!-- Footer Ends -->
      <script src="cbs.js"></script>
      <!-- <script src="/jquery/jquery.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  
</body>
</html>