<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/styles.css">

  <title>Contact Us</title>

</head>
<body>
  <!-- Navigation Bar starts --> 
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-2">
        
      <a class="navbar-brand p-md-3 fs-4" href="#">Furr Friend</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse justify-content-end px-5" id="navbarNav">
        <ul class="navbar-nav gap-lg-5">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_Us">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact</a>
          </li>
        </ul>
      </div>

      <div class="px-lg-3">
        <a href="login.php" class="btn btn-primary rounded-4">Login</a>
        <a href="register.php" class="btn btn-primary rounded-4">Register</a>

      </div>
    </nav>
  </header> 
  <!-- Navbar ends -->

<!-- Main Content Start -->
    <main>
    <!-- Search bar -->
    <div class="container mt-4 d-flex justify-content-center align-content-center">
      <div class="col-md-6">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  
    <section class="mb-5">
      <div class="container py-4">
          <div class="row d-flex">
              
              <div class="col-md-12 col-lg-6 ">
                  <h1 class="text-dark pt-3 display-one">Get In Touch</h1>
                  <p class="lead text-secondary fs-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsum earum soluta molestiae magni quod placeat ratione quam enim eveniet.</p>           
              </div>
              <form class="m-sm-3 col-md-12  card card-body col-lg-5" action="">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea  class="form-control " id="exampleFormControlTextarea1" rows="9"></textarea>
                    <input class="btn btn-primary mt-2" type="submit" value="Submit">
                  </div>
              </form>
          </div>
      </div>
  </section>
  
  </main>
  
  
<!-- Main Content End -->
<!-- Footer -->
<footer class="bg-dark text-white py-3 d-flex align-content-center justify-content-center">
  <div class="container m-3">
      <div class="row">
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <p>Email: info@myawesomewebsite.com</p>
              <p>Phone: +1 123 456 7890</p>
          </div>

          <div class="col-md-4 mb-3">
            <h5 class="text-center mb-3">Follow Us</h5>
            <div class="d-flex justify-content-center">
                <div class="col-5 d-grid gap-3">
                    <a href="#" class="btn btn-outline-light btn-sm">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </div>
            </div>
        </div>
        

          <div class="col-md-4">
              <h5>About Us</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a quidem reiciendis ipsa nesciunt modi, 
                rem consequuntur praesentium porro, asperiores fuga eligendi delectus aspernatur odit dolores molestiae saepe blanditiis 
                amet.</p>
          </div>
      </div>
      <div class="text-center">
        <p class="text-light">&copy; 2022 Pet Adoption Center. All rights reserved.</p>
      </div>
  </div>
</footer>
<!-- Footer Ends -->
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>