<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="bootstrap.css">
  <style>
    .image{
      background-size: cover;
     background-repeat: no-repeat;
      background-position: center;
    }
    .animation{
      transition: 0.3s;
    }
    .animation:hover{
      transform: scale(1.05);
    }
    a{
      text-decoration: none;
      color: black;
    }
   
  </style>
</head>
<body>
  

  <main>
    <!-- title -->
    <section  class="p-5 bg-dark d-flex">
        <div style="height: 400px; " class="container d-flex flex-column align-items-center justify-content-center">
            <h1 style="color: yellow;">Contact informations</h1>
            <h6 class="text-center text-white">Streamlined design, quick access, welcoming interface, connect easily and reach us effortlessly for inquires.</h6>
        </div>
    </section>

    <!-- message section -->
    <section class="bg-primary">
        <div class="container py-4 d-flex flex-column flex-sm-column flex-md-column flex-lg-row">
                <div class="col-md-12 col-lg-7 px-3">
                    <h1 style="color: yellow;" class=" display-one">Get In Touch</h1>
                    <h2 class="lead fs-4">Find your furry comapanion today! Message us for joyful adoption experience and welcome a pet into your loving home.</h2>           
                </div>
                <form style="background-color: rgba(255, 255, 255, 0.5);" class="m-sm-3 col-md-12  card card-body col-lg-4" action="">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input style="background-color: rgba(255, 255, 255, 0.5);" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                      <textarea style="background-color: rgba(255, 255, 255, 0.5);"  class="form-control " id="exampleFormControlTextarea1" rows="7"></textarea>
                      <input  class="btn btn-primary mt-2" type="submit" value="Submit">
                    </div>
                </form>  
        </div>
    </section>

    <!-- acccounts -->
    <section style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: 10px;" class="p-2 d-flex">
        <div class="container py-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row gap-3">
            <div class=" col-md-5 col-lg-4 px-2 d-flex flex-column gap-3">
                <div  style="height: 100px; background-color: rgba(255, 255, 255, 0.5);" class="card d-flex flex-row gap-3 align-items-center px-2">
                    <img style="height: 80px; width: 80px; border-radius: 50%;" class="image" src="images/facebook.jpg" alt="">
                    <div>
                        <h2>Facebook</h2>
                        <p>Pet Adoption Center</p>
                    </div>
                </div>

                <div style="height: 100px; background-color: rgba(255, 255, 255, 0.5);" class="card d-flex flex-row gap-3 align-items-center px-2">
                    <img style="height: 80px; width: 80px; border-radius: 50%;" class="image" src="images/instagram.jpg" alt="">
                    <div>
                        <h2>Instagram</h2>
                        <p>Pet Adoption Center</p>
                    </div>
                </div>

                <div style="height: 100px; background-color: rgba(255, 255, 255, 0.5);" class="card d-flex flex-row gap-3 align-items-center px-2">
                    <img style="height: 80px; width: 80px; border-radius: 50%;" class="image" src="images/twitter'.jpg" alt="">
                    <div>
                        <h2>Twitter</h2>
                        <p>Pet Adoption Center</p>
                    </div>
                </div>

            </div>
            <div style="background-color: rgba(0, 0, 0, 0.5); color: #fff;" class=" col-md-7 col-lg-8 p-2">
                <div class="d-flex flex-row">
                  <h1 class="text-secondary">Adopt your pets </h1>
                  <h1 style="color: yellow;">&nbsp;now!</h1>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, ipsum?</p>
                <h5>Contact Us</h5>
                <p>Email: info@myawesomewebsite.com</p>
                <h5>Call Us</h5>
                <p>Phone: +1 123 456 7890</p>
                <h5>Address</h5>
                <p>045 Mandasig, Candaba Pampanga</p>
            </div>  
        </div>
    </section>

    <!-- map section -->
    <section  class="p-5  d-flex justify-content-center flex-column">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <h1 class="fs-2 text-primary">Find Us on Google Maps</h1>
            <h6 class="text-center">Take a stroll, meet furry friends, find joy, and adopt love at our Pet Adoption Center</h6>
        </div>

        <div  class="container d-flex flex-column align-items-center justify-content-center">
           <div style="height: 400px;" class="container bg-primary"></div>
        </div>
    </section>
  </main>


  <!-- footer -->
  <footer class="bg-dark text-white py-3 d-flex align-content-center justify-content-center">
    <div class="container m-3">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us :</h5>
                <p>candababirdsanctuary@gmail.com</p>
                <p>+1 123 456 7890</p>
                <p class="text-light">&copy;2023 Candaba Bird Sanctuary. All rights reserved.</p>
            </div>
  
            <div class="col-md-4 mb-3 ">
              <h5 class=" text-center mb-3">Follow Us :</h5>
              <div class="d-flex justify-content-center">
                  <div class="col-5 d-grid gap-3">
                      <a href="#" class="btn btn-outline-light btn-sm">
                          <i class="fab fa-facebook-f"></i> Facebook
                      </a>
                      <a href="#" class="btn btn-outline-light btn-sm">
                          <i class="fab fa-twitter"></i> Twitter
                      </a>
                      <a href="#" class="btn btn-outline-light btn-sm">
                          <i class="fab fa-instagram"></i> Instagram
                      </a>
                  </div>
              </div>
            </div>
          
  
            <div class="col-md-4">
                <h5>About Us :</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a quidem reiciendis ipsa nesciunt modi, 
                  rem consequuntur praesentium porro, asperiores fuga eligendi delectus aspernatur odit dolores molestiae saepe blanditiis 
                  amet.</p>
            </div>
        </div>
       
    </div>
  </footer>
  <!-- Footer Ends -->
      <script src="cbs.js"></script>
      <!-- <script src="/jquery/jquery.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  
</body>
</html>