<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/styles.css">

  <title>Our Services</title>

</head>
<body>
  <!-- Navigation Bar starts --> 
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-2">
        
        <a class="navbar-brand p-md-3 fs-4" href="#">Furr Friend</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse justify-content-end px-5" id="navbarNav">
        <ul class="navbar-nav gap-lg-5">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_Us">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact</a>
          </li>
        </ul>
      </div>

      <div class="px-lg-3">
        <a href="login.php" class="btn btn-primary rounded-4">Login</a>
        <a href="register.php" class="btn btn-primary rounded-4">Register</a>

      </div>
    </nav>
  </header> 
  <!-- Navbar ends -->

<!-- Main Content Start -->
    <main>
    <!-- Search bar -->
    <div class="container mt-4 d-flex justify-content-center align-content-center">
      <div class="col-md-6">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
      Launch
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            Body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

  
  </main>
  
  
<!-- Main Content End -->
<!-- Footer -->
<footer class="bg-dark text-white py-3 d-flex align-content-center justify-content-center">
  <div class="container m-3">
      <div class="row">
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <p>Email: info@myawesomewebsite.com</p>
              <p>Phone: +1 123 456 7890</p>
          </div>

          <div class="col-md-4 mb-3">
            <h5 class="text-center mb-3">Follow Us</h5>
            <div class="d-flex justify-content-center">
                <div class="col-5 d-grid gap-3">
                    <a href="#" class="btn btn-outline-light btn-sm">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </div>
            </div>
        </div>
        

          <div class="col-md-4">
              <h5>About Us</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a quidem reiciendis ipsa nesciunt modi, 
                rem consequuntur praesentium porro, asperiores fuga eligendi delectus aspernatur odit dolores molestiae saepe blanditiis 
                amet.</p>
          </div>
      </div>
      <div class="text-center">
        <p class="text-light">&copy; 2022 Pet Adoption Center. All rights reserved.</p>
      </div>
  </div>
</footer>
<!-- Footer Ends -->
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src=""></script>
</body>
</html>